.scene {
	max-width: 700px;
  margin: 0 auto;
  padding: 0;
}

body{
	margin:0;
	padding:0px;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}
body a{
	text-decoration: inherit;
	color: inherit;
}
body section {
	display: block;
	width:100%;
	height: auto;
	clear: both;
}
.mainNav{
	display: block;
	position: fixed;
	top:2%;
	left:0;
	color: #D8D8D8;
	background-color:rgba(34, 103, 103,1.00);
	width: auto;
	overflow: visible;
	border-radius: 10px;
	z-index: 9999999;
	
}
.mainNav ul {
	list-style-type:none;
	text-align: center;
	padding: 10px 0px 10px 0px;
	margin: 0px;
}
.mainNav ul li{
	margin-bottom: 10px;
	padding: 3px;
}

.mainNav ul li a{
	padding: 5px 20px 5px 20px;
}
.mainNav ul li:hover{
	color: #800000;
	background-color: #ffffff;
	}
#home{
margin-bottom: 0px;
padding-bottom: 0px;
background-image: url('../img/logobackground.png');
background-size: 100% 100%;
background-repeat: no-repeat;
background-color: rgba(211, 211, 211, 0.5);
overflow: hidden;
height: 800px;
}

#welcome{
	width: 50%;
	position: absolute;
	margin-left: 25%;
	z-index: 99998;
	color: rgba(174, 12, 12, 0.8);
}
#welcome span{
	font-size: 1000%;
	display: none;
	font-family: Georgia, Times, "Times New Roman", serif;
	
}
.scene{
	position: relative;
	margin: 0px;
	padding: 0px;
	width: 100%;
	animation: mainrotate 20s linear 999;
	-webkit-animation: mainrotate 40s linear 999;
}
@keyframes mainrotate {
	0%{ transform: translateX(0px) scale(1,1);}
	50%{transform: translateX(20%) scale(1.1,1.1);}
	100%{ transform: translateX(0px) scale(1,1);}
	
}
@-webkit-keyframes mainrotate {
	0% { -webkit-transform: translateX(0px) scale(1,1);}
	50% { -webkit-transform: translateX(20%) scale(1.1,1.1);}
	100% { -webkit-transform: translateX(0px) scale(1,1);}
}


/* for about me page */
#aboutme{
	padding-top: 50px;
 background-color: rgba(135,206, 250, 0.9);
 overflow: auto;
}
.aboutmecontent{
	position: relative;
	width: 100%;
	display: block;
	padding-top: 20px;

}
.myimage{
	margin-top: 100px;
	position: relative;
	width: 30%;
	border-radius: 30px;
	float: left;
	margin-left: 8%;
	z-index: 555;
}
	
.discription{
	position: relative;
	width: 50%;
	color: #000000;
	float: right;
	margin-right: 5%;
	text-align: left;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 20px;
}
.clouds{
	padding-top: 20px;
	width: 100%;
	padding-bottom: 0px;
	margin-bottom: 0px;
}


/* for education part */

#education{
	background-color:#C12E30;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	}

.bookimg{
	position: absolute;
	margin: 0px 0px 0px 200px;
	display: none;
}
.education{
	padding: 100px 30px 50px 20px;
	width: 60%;
	float: right;
}
/* for resume page */
#resume{
	background-color:rgba(153, 255, 255, 1);
	overflow: auto;
}
.resumecontent{
	padding: 100px 20px 20px 10px;
	width:65%;
	float: right;
}
.resumeside{
	padding-top: 0px;
	margin-left: 10%;
	width: 10%;
	float:left;
}
.resumebtn{
	border-radius: 10px;
	height:150px;
	width: 250px;
	cursor: pointer;
	 box-shadow: 5px 5px 5px #5882FA;
}

/* for contact me page */
#contact{
	background-color:#cccccc;
}
#contactdiscription{
	text-align: center;
	padding-top: 50px;
}
#googleMap{
	display: block;
	width: 100%;
	height: 500px;
}